<section class="text-gray-600 body-font overflow-hidden">
  <button style="background-color: #0e22ef82; border: 1px solid #0256cf; color: white; border-radius: 0.3em;   text-shadow: 0em 0em 0.2em black;"type="button" class="ml-20 w-full flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" (click) = "goBackToPrevPage()">
    <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
    </svg>
    <span>Go back</span>
</button>
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:h-86 h-86 object-cover object-center rounded" style="overflow: hidden;">
            <img alt="ecommerce" class="" src="{{showimg}}" />

            <!-- <button class="border-2 border-gray-300 rounded-full w-6 h-6 focus:outline-none"></button> -->
        </div>
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">{{product.brand}}</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{product.title}}</h1>
          <div class="flex mb-4">
            <span class="flex items-center">
                {{product.rating}}
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <span class="text-gray-600 ml-3">{{product.stock}} Reviews</span>
            </span>
          </div>
          <p class="leading-relaxed">{{product.description}}</p>
          <div class="flex">
            <span class="title-font font-medium text-2xl text-gray-900"><s class="mr-4">${{product.price}}</s>${{(product.price - (product.price * (product.discountPercentage/100))).toFixed(2)}}</span>
            <!-- <div class="ml-5">
                <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
            </div> -->
            <div *ngIf = "liked == true">
                <button title="Liked" class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4" (click) = "liked = false">
                    <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                </button>
            </div>
            <div *ngIf = "liked == false">
                <button title="Disiked" class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4" (click) = "liked = true">
                    <i class="fa-regular fa-heart" style="color: #ff0000;"></i>
                </button>
            </div>
          </div>
        </div>
        <div class="w-1/2 mt-5 flex items-center justify-center">
            <div *ngFor = "let image of product.images">
                <input type="button" class="border-2 border-gray-300 rounded-full w-4 h-4 focus:outline-none mr-4" (click) = "getimage(image)" />
            </div>
        </div>

      </div>
    </div>
  </section>