<div class="bg-white">
    <div>
        <div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-black bg-opacity-25"></div>
        </div>
        <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-4"
                style="align-items: center;">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900" style="margin-right: 2em;">All Products</h1>

                <div class="flex items-center text-center" style="flex-grow: 1;">

                    <div class="max-w-md mx-auto" style="width: 100%;">
                        <label for="default-search"
                            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                            </div>
                            <input [(ngModel)] = "searchtext" type="search" id="default-search"
                                class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Products Here..." />
                        </div>
                    </div>

                </div>
                <div class="flex items-center">

                    <div class="relative inline-block text-left">
                        <div>
                            <button (click)="showsortmenu = !showsortmenu" type="button"
                                class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
                                id="menu-button" aria-expanded="false" aria-haspopup="true">
                                Sort
                                <svg class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>


                        <div *ngIf="showsortmenu == true"
                            class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none"
                            role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                            <div class="py-1" role="none">

                                <a href="#" class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem"
                                    tabindex="-1" id="menu-item-0">Most Popular</a>
                                <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                                    id="menu-item-1">Best Rating</a>
                                <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                                    id="menu-item-2">Newest</a>
                                <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                                    id="menu-item-3">Price: Low to High</a>
                                <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                                    id="menu-item-4">Price: High to Low</a>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="-m-2 ml-4 p-2 text-gray-400 hover:text-gray-500 sm:ml-6 lg:hidden">
                        <span class="sr-only">Filters</span>
                        <svg class="h-5 w-5" aria-hidden="true" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M2.628 1.601C5.028 1.206 7.49 1 10 1s4.973.206 7.372.601a.75.75 0 01.628.74v2.288a2.25 2.25 0 01-.659 1.59l-4.682 4.683a2.25 2.25 0 00-.659 1.59v3.037c0 .684-.31 1.33-.844 1.757l-1.937 1.55A.75.75 0 018 18.25v-5.757a2.25 2.25 0 00-.659-1.591L2.659 6.22A2.25 2.25 0 012 4.629V2.34a.75.75 0 01.628-.74z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>

            <section aria-labelledby="products-heading" class="pb-24 pt-6">
                <h2 id="products-heading" class="sr-only">Products</h2>

                <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
                    <!-- Filters -->
                    <form class="lg:block">

                        <div class="border-b border-gray-200 py-6">
                            <h3 class="-my-3 flow-root">
                                <!-- Expand/collapse section button -->
                                <button type="button"
                                    class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
                                    aria-controls="filter-section-0" aria-expanded="false" (click)="this.showcat = !this.showcat">
                                    <span class="font-medium text-gray-900">Category</span>
                                    <span class="ml-6 flex items-center">
                                        <!-- Expand icon, show/hide based on section open state. -->
                                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <!-- Filter section, show/hide based on section state. -->
                            <div class="pt-6" id="filter-section-0" *ngIf="showcat == true">
                                <div class="space-y-4">
                                    <div *ngFor="let cate of categories" class="flex items-center">
                                        <input type="checkbox" (click) = "categoryclick(cate)"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label class="ml-3 text-sm text-gray-600">{{cate}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-b border-gray-200 py-6">
                            <h3 class="-my-3 flow-root">
                                <!-- Expand/collapse section button -->
                                <button type="button"
                                    class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
                                    aria-controls="filter-section-1" aria-expanded="false" (click)="this.showbrands = !this.showbrands">
                                    <span class="font-medium text-gray-900">Brand</span>
                                    <span class="ml-6 flex items-center">
                                        <!-- Expand icon, show/hide based on section open state. -->
                                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <!-- Filter section, show/hide based on section state. -->
                            <div class="pt-6" id="filter-section-1" *ngIf="showbrands == true">
                                <div class="space-y-4">
                                    <div class="flex items-center" *ngFor="let brand of brands">
                                        <input id="filter-category-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label class="ml-3 text-sm text-gray-600">{{brand}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-b border-gray-200 py-6">
                            <h3 class="-my-3 flow-root">
                                <!-- Expand/collapse section button -->
                                <button type="button"
                                    class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
                                    aria-controls="filter-section-2" aria-expanded="false" (click)="this.showdis = !this.showdis">
                                    <span class="font-medium text-gray-900">Discount</span>
                                    <span class="ml-6 flex items-center">
                                        <!-- Expand icon, show/hide based on section open state. -->
                                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <!-- Filter section, show/hide based on section state. -->
                            <div class="pt-6" id="filter-section-2" *ngIf="showdis == true">
                                <div class="space-y-4">
                                    <div class="flex items-center">
                                        <input id="filter-size-0" value="dis1" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">0-5%</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" value="dis2" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">5-10%</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" value="dis3" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">10-15%</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" value="dis4" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">15-20%</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-b border-gray-200 py-6">
                            <h3 class="-my-3 flow-root">
                                <!-- Expand/collapse section button -->
                                <button type="button"
                                    class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
                                    aria-controls="filter-section-2" aria-expanded="false" (click)="this.showrating = !this.showrating">
                                    <span class="font-medium text-gray-900">Rating</span>
                                    <span class="ml-6 flex items-center">
                                        <!-- Expand icon, show/hide based on section open state. -->
                                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <!-- Filter section, show/hide based on section state. -->
                            <div class="pt-6" id="filter-section-2" *ngIf="showrating == true">
                                <div class="space-y-4">
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">1</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">2</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">3</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">4</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">5</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-b border-gray-200 py-6">
                            <h3 class="-my-3 flow-root">
                                <!-- Expand/collapse section button -->
                                <button type="button"
                                    class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
                                    aria-controls="filter-section-2" aria-expanded="false" (click)="this.showprice = !this.showprice">
                                    <span class="font-medium text-gray-900">Price</span>
                                    <span class="ml-6 flex items-center">
                                        <!-- Expand icon, show/hide based on section open state. -->
                                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <!-- Filter section, show/hide based on section state. -->
                            <div class="pt-6" id="filter-section-2" *ngIf="showprice == true">
                                <div class="space-y-4">
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">less than
                                            100$</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">100-300$</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">300-500$</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">500-800$</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">800-1200$</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">1200-1800$</label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="filter-size-0" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">more than
                                            1800$</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Product grid -->
                    <div class="lg:col-span-3">
                        <!-- Your content -->

                        <div class="container"
                            style="display: grid; grid-template-columns: 33% 33% 33%; grid-gap: 1.5em;">
                            

                            <div *ngFor="let product of data.products | searchfilter : searchtext">
                                <div style="border-radius: 0.3em; border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.3);"
                                    class="relative flex w-122 flex-col bg-white bg-clip-border text-gray-700">
                                    <a routerLink="productdetails" routerLinkActive="active" style="border-radius: 0.3em"
                                        class="relative mx-4 mt-4 h-72 overflow-hidden bg-white bg-clip-border text-gray-700" (click) = "setproduct(product)">
                                        <img src={{product.thumbnail}} class="h-full w-full object-cover" />
                                        </a>
                                    <div class="p-6">
                                        <div class="mb-2 flex items-center justify-between">
                                            <p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
                                                class="font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                                                {{product.title}}
                                            </p>
                                            <p style="font-size: small; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
                                                class="font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                                                {{product.brand}}
                                            </p>
                                        </div>
                                        <div class="text-end mb-0 flex items-end justify-end">
                                            <p
                                                class="text-end block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
                                                <s>${{product.price}}</s> ${{(product.price - (product.price*(product.discountPercentage/100))).toFixed(2)}}
                                            </p>
                                        </div>
                                        <p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
                                            class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
                                            {{product.description}}
                                        </p>
                                    </div>
                                    <div class="pl-6 pr-6 flex">

                                        <div
                                            class="flex items-center block w-1/2 select-none rounded-lg bg-blue-gray-900/10 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                                            <svg class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                </path>
                                            </svg>
                                            <p class="ml-2 text-sm font-bold text-gray-900 dark:text-white">
                                                {{product.rating}}</p>
                                        </div>
                                        <div
                                            class="flex items-center block w-1/2 select-none rounded-lg bg-blue-gray-900/10 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                                            <i class="fa-solid fa-tag" style="color: #007514;"></i>
                                            <p class="ml-2 text-sm font-bold text-gray-900 dark:text-white">
                                                {{product.discountPercentage}}%
                                            </p>
                                        </div>
                                    </div>
                                    <app-qtybtn [product] = "product"></app-qtybtn>
                                </div>
                            </div>
                        </div>






                        <!-- write here mehariya -->
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>