<p>collections works!</p>
<div *ngFor="let coll of collections">
    {{coll.createddate | date:'short'}}
</div>

<!-- component -->
<div class="w-screen h-screen bg-white flex flex-row flex-wrap p-3">
    <div class="mx-auto w-2/3">
        <!-- Profile Card -->
        <div class="rounded-lg shadow-lg bg-gray-600 w-full flex flex-row flex-wrap p-3 antialiased" style="
    background-image: url('../../../assets/images/collection1.jpg');
    background-repeat: no-repat; background-size: cover; background-blend-mode: multiply; height: 15em;">
            <div class="w-full px-3 flex flex-row flex-wrap">
                <div class="w-full text-center text-gray-700 font-semibold relative pt-3 md:pt-0">
                    <div class="text-2xl text-white leading-tight">Number of items in this collection : </div>
                    <div class="text-normal text-gray-300 hover:text-gray-400 cursor-pointer"><span
                            class="border-b border-dashed border-gray-500 pb-1">Administrator</span></div>
                    <div
                        class="text-sm text-gray-300 hover:text-gray-400 cursor-pointer md:absolute pt-3 md:pt-0 bottom-0 right-0">
                        Last Seen: <b>2 days ago</b></div>
                </div>
            </div>
        </div>
        <!-- End Profile Card -->
    </div>
</div>