<div class="max-w-md mx-auto" *ngIf="orderplaced == false">
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" [(ngModel)]="username" name="floating_name" id="floating_name"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
        <label for="floating_name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="email" [(ngModel)]="useremail" name="floating_email" id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
        <label for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
            address</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="number" [(ngModel)]="userphonenum" name="floating_phoneno" id="floating_phoneno"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
        <label for="floating_phoneno"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone
            Number</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" [(ngModel)]="useraddressline1" name="floating_addressline1" id="floating_addressline1"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
        <label for="floating_addressline1"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">AddressLine1</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" [(ngModel)]="useraddressline2" name="floating_addressline2" id="floating_addressline2"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
        <label for="floating_addressline2"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">AddressLine2</label>
    </div>

    <div class="relative z-0 w-full mb-5 group">

        <div class="max-w-full mx-auto">
            <select name="Countries" [(ngModel)]="selectcountry"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>Choose a Country</option>
                <option *ngFor="let country of countries" value="{{country.isoCode}}">{{country.name}}</option>
            </select>
        </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">

        <div class="max-w-full mx-auto">
            <select name="States" [(ngModel)]="selectstate" (click)="getstates()"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected>Choose a State</option>
                <option *ngFor="let state of states" value="{{state.isoCode}}">{{state.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <div>
            <div class="max-w-full mx-auto">
                <select name="Cities" [(ngModel)]="selectcity" (click)="getcities()"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected>Choose a City</option>
                    <option *ngFor="let city of cities">{{city.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <button
        style="background-color: #0e22ef82; border: 1px solid #0256cf; color: white; border-radius: 0.3em;   text-shadow: 0em 0em 0.2em black;"
        class="block w-full select-none py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button" (click)="senduserdata()">Place Order</button>

    <div *ngIf="showerror == true" class="flex p-5 my-4" style="justify-content: center; font-size: medium;"
        style="background-color: rgba(145, 0, 0, 0.5);">
        <p class="font-bold text-l" style="color: white;">Please Enter All The Required Data!!</p>
    </div>
</div>

<div *ngIf="orderplaced == true">
    <div class="flex p-5 my-4 mx-20"
        style="justify-content: center; font-size: medium; background-color: rgba(0, 145, 12, 0.5);">
        <p class="font-bold text-l" style="color: white;">Congratulations!! Your Order Has Been Placed!!</p>
    </div>

    <div class="flex p-5 my-4 mx-5" style="justify-content: center; font-size: medium;">
        <div class=" mx-5">
            <div class="flex mb-4" style="justify-content: space-between;">
                <div class="text-sm flex content-center items-center" style="font-size: medium;">
                    <p class="text-black font-bold text-l mb-2">Name : </p>
                </div>
                <div class="text-sm flex content-center items-center" style="font-size: medium;">
                    <p class="text-black text-l mb-2" style="color: rgb(0, 145, 0);">{{username}}</p>
                </div>
            </div>
            <div class="flex mb-4" style="justify-content: space-between;">
                <div class="text-sm flex content-center items-center" style="font-size: medium;">
                    <p class="text-black font-bold text-l mb-2">Email Address : </p>
                </div>
                <div class="text-sm flex content-center items-center" style="font-size: medium;">
                    <p class="text-black text-l mb-2" style="color: rgb(0, 145, 0);">{{useremail}}</p>
                </div>
            </div>
            <div class="flex mb-4" style="justify-content: space-between;">
                <div class="text-sm flex content-center items-center" style="font-size: medium;">
                    <p class="text-black font-bold text-l mb-2">Phone Number : </p>
                </div>
                <div class="text-sm flex content-center items-center" style="font-size: medium;">
                    <p class="text-black text-l mb-2" style="color: rgb(0, 145, 0);">{{userphonenum}}</p>
                </div>
            </div>
            <div class="flex mb-4" style="justify-content: space-between;">
                <div class="text-sm flex content-center items-center" style="font-size: medium;">
                    <p class="text-black font-bold text-l mb-2">Address : </p>
                </div>
                <div class="text-sm flex content-center items-center flex-wrap" style="font-size: medium;">
                    <p class="text-black text-l mb-2" style="color: rgb(0, 145, 0);">{{useraddressline1 + ", " +
                        useraddressline2 + ", " + selectcity + ", " + statename + ", " + countryname}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<button style="background-color: #0e22ef82; border: 1px solid #0256cf; color: white; border-radius: 0.3em;   text-shadow: 0em 0em 0.2em black;"type="button" class="ml-20 w-full flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" (click) = "goBackToPrevPage()">
    <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
    </svg>
    <span>Go back</span>
</button>